<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>446968832237-lbhu8n6739pmgg3itgaqfqh0e5d9tks7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.446968832237-lbhu8n6739pmgg3itgaqfqh0e5d9tks7</string>
	<key>API_KEY</key>
	<string>AIzaSyAyhE9kaYaJHNwwMm-7pvI2A5XcfWd9xao</string>
	<key>GCM_SENDER_ID</key>
	<string>446968832237</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.elementpath.tindog.Tindog</string>
	<key>PROJECT_ID</key>
	<string>tindog-4e97a</string>
	<key>STORAGE_BUCKET</key>
	<string>tindog-4e97a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:446968832237:ios:d5732831df4e3924</string>
	<key>DATABASE_URL</key>
	<string>https://tindog-4e97a.firebaseio.com</string>
</dict>
</plist>